#servicesHome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: $color__background-hr;
    box-shadow: 1px 0px 5px inset;
    .service {
        align-content: center;
        width: 300px;
        padding: 1rem;
        margin: .5rem auto;
        text-align: center;
        @media screen and ( max-width: 650px ) {
            width: 100%;
            max-width: 500px;
        }
    }
}

#services {
    
    background: $color__background-orange;
    box-shadow: 1px 0px 5px inset;
    .services-header {
        font-size: 1.25rem;
        text-align: center;
        color: white;
    }
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    
    .service {
        .svg-inline--fa {
            width: 2em !important;
            height: auto !important;
        }
        align-content: center;
        width: 300px;
        padding: 1rem;
        margin: .5rem auto;
        text-align: center;
        color: white;

        ul {
            margin: 0;
            li {
                text-align: left;
            }
        }

        @media screen and (max-width: 650px) {
            width: 100%;
            max-width: 500px;
        }
    }
    }
}