#preHeader {

    background: $black;
    height: 40px;
    padding: .5rem 2rem;
    width: 100%;
    text-align: right;
    color: $color__background-pre;
    a {
        color: $color__background-pre;
    }
}