.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5rem;
}
.entry-text {
	padding: 1em;	
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.page-section {
	padding: 1rem 2rem;
}

.site-header {
	display: flex;
	justify-content: center;
	padding: .75rem;
	border-bottom: 1px solid #33333385;    border-bottom: 1px solid #33333385;
}
.site-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 1rem;
	@media screen and (max-width: 600px) {
		flex-direction: column;
	}
	.esa-number {
		img {
			width: 150px;
			height: auto;
			margin-left: 10px;
		}
	}
}
.background-image {
	position: relative;

	.content {
		@include bg-img-text;
		@media screen and (max-width: 650px) {
			font-size: 1rem;
		}
	}
	img {
		width: 100%;
		@include bg-img-element;
	}
}

#homeContent {
	display: flex;
}