.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.page-section {
	padding: 1rem 2rem;
}

.site-header {
	display: flex;
	justify-content: center;
	padding: .75rem;
}

.background-image {
	position: relative;
	.content {
		@include bg-img-text;
	}
	img {
		width: auto;
		@include bg-img-element;
	}
}

#homeContent {
	display: flex;
}